<!doctype html>
<html lang="en">
    <%- partial('_partial/head') %>
<body>
    <%- partial('_partial/sidebar') %>
    <div class="content-container">
        <% page.posts.each(function (post) { %>
        <div class="content shadow rounded">
            <h2 class="text-center"><a href="<%- url_for(post.path) %>" id="title"><%= post.title %></a></h2>
            <div class="text-center">
                <i class="fa fa-calendar"></i>
                <span><%- date(post.date,"YYYY-MM-DD")%></span>
            </div>
            <hr width="90%" color="#ddd">
            <article>
                <% if (post.excerpt) {%>
                <%- post.excerpt %>
                <a href="<%- url_for(post.path) %>" class="read-more">More</a>
                <% } else { %>
                <%- post.content %>
                <% } %>
            </article>
            <hr width="90%" color="#ddd">
        </div>
        <% }) %>
        <%- partial('_partial/foot')%>
    </div>
</body>
</html>

