<!doctype html>
<html lang="en">
<head>
    <%- partial('_partial/head')%>
</head>
<body>
<%- partial('_partial/sidebar') %>
<div class="content-container">
    <div class="content shadow rounded">
        <h1 class="text-center"><%= page.title %></h1>
        <div class="text-center">
            <i class="fa fa-calendar"></i>
            <span><%- date(page.date,"YYYY-MM-DD")%></span>
        </div>
        <hr width="90%" color="#ddd">
        <article>
                <%- page.content %>
        </article>
        <hr width="90%" color="#ddd">
    </div>
    <footer class="text-center text-secondary mb-2"><span>@y4ngyy</span></footer>
</div>
<%- partial('_partial/foot')%>
</body>
</html>