<!doctype html>
<html lang="en">
<head>
    <%- partial('_partial/head')%>
</head>
<body>
<%- partial('_partial/sidebar') %>
<div class="content-container">
    <div class="content shadow rounded">
        <h2 class="text-center"><%= page.title %></h2>
        <div class="text-center">
            <i class="fa fa-calendar"></i>
            <span><%- date(page.date,"YYYY-MM-DD")%></span>
        </div>
        <hr width="90%" color="#ddd">
        <article>
                <%- page.content %>
        </article>
        <hr width="90%" color="#ddd">
    </div>
    <%- partial('_partial/foot')%>
</div>
</body>
</html>