<div class="sidebar-container">
<div class="sidebar rounded">
    <!--头像区域-->
    <div class="head bg-dark text-center rounded-bottom">
        <a href="#">
            <img src="<%- url_for(theme.avatar) %>" alt="avatar.jpg">
        </a>
        <h2 class="text-light mt-4"><%= config.author %></h2>
    </div>
    <!--个人描述-->
    <section class="text-center text-dark p-lg-5 p-3" id="description"><h4 class="m-0"><%= config.description %></h4></section>
    <!--导航条-->
    <nav>
        <p  class="nav-clapse fa fa-bars text-center"></p>
        <ul class="nav flex-column text-center">
            <% for (name in theme.menu) {%>
            <li class="nav-item">
                <a href="<%- url_for(theme.menu[name]) %>" class="nav-link text-secondary"><%= name %></a>
            </li>
            <% } %>
        </ul>
    </nav>
</div>
</div>